.Nav-item {
  margin: 0 0 5px 5px;
}

.Nav-link {
  color: red;
}

.Header-logo {
  height: 35px;
  width: 35px;
  display: inline;
  margin-right: 8px;
}

.Header-logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
