.Landing-button {
  margin-right: 10px;
  text-align: center;
  background-color: rgb(184, 22, 22);
  border: none;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  line-height: 1;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.5s;
}

.hero-cards-content {
  display: flex;
}

.hero-cards-title {
  width: 50%;
  margin: 20px auto;
  text-align: center;
  border-bottom: 2px solid white;
}

.Landing-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.Landing-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.Landing-button:hover span {
  color: white;
  padding-right: 25px;
}

.Landing-button:hover span:after {
  color: white;
  opacity: 1;
  right: 0;
}

.Landing-title {
  text-shadow: 2px 2px #000000;
  color: rgb(255, 255, 255);
  position: center;
  font-size: 3rem;
  margin: 20px 0 1.6rem 0;
  line-height: 1;
}

.Landing-subtitle {
  text-shadow: 1px 1px #000000;
  color: rgb(255, 255, 255);
  position: center;
  font-size: 1.2rem;
  margin: 20px 0 1.6rem 0;
  line-height: 1;
}

.Landing-box-layout {
  background: fade-out(white, 0.15);
  border-radius: 3px;
  padding: 3.2rem 1.6rem;
  text-align: center;
  width: 35rem;
}

.Landing-box {
  align-items: center;
  background: url('https://article.images.consumerreports.org/f_auto/prod/content/dam/CRO%20Images%202018/Health/May/CR-Health-InlineHero-Chicken-Antibiotics-0417');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
